# Root .env.example
# Product Service
PRODUCT_SERVICE_PORT=3001
POSTGRES_USER=admin
POSTGRES_PASSWORD=secret
POSTGRES_DB=products_db
DATABASE_URL=postgresql://admin:secret@postgres:5432/products_db?schema=public

# Order Service
ORDER_SERVICE_PORT=3002
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=secret
MONGO_INITDB_DATABASE=orders_db
MONGODB_URI=mongodb://admin:secret@mongo:27017/orders_db?authSource=admin

# API Gateway
GATEWAY_PORT=3000
PRODUCT_SERVICE_URL=http://product-service:3001
ORDER_SERVICE_URL=http://order-service:3002
AUTH_SERVICE_URL=http://auth-service:3003
JWT_SECRET=super_secret_jwt_key_at_least_32_characters_long_12345
