NODE_ENV=development
PORT=3001
SERVICE_NAME=product-service

# PostgreSQL - Cấu hình cho Local / Docker Compose hoặc Supabase
DATABASE_URL="postgresql://admin:secret@postgres:5432/products_db?schema=public"

# Connection pooling cho production (Supabase transaction pooler)
DATABASE_URL_POOL="postgresql://postgres.[PROJECT]:[PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
