NODE_ENV=development
PORT=3002
SERVICE_NAME=order-service

# MongoDB connection string
# Local / Docker Compose:
MONGODB_URI=mongodb://admin:secret@mongo:27017/orders_db?authSource=admin

# MongoDB Atlas (Production):
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxx.mongodb.net/ordersDB?retryWrites=true&w=majority

# URL của Product Service (để validate sản phẩm)
PRODUCT_SERVICE_URL=http://product-service:3001
