NODE_ENV=development
PORT=3003
SERVICE_NAME=auth-service

# PostgreSQL connection string (Local / Docker Compose / Supabase)
DATABASE_URL="postgresql://admin:secret@postgres:5432/products_db?schema=auth"

# JWT Secrets & Expiration
JWT_SECRET=super_secret_jwt_key_at_least_32_characters_long_12345
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=super_secret_refresh_jwt_key_at_least_32_characters_long_67890
JWT_REFRESH_EXPIRES_IN=7d
